body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: darkgreen url("/src/img/logo.png");
    background-size: 80px auto;
}

#main {
    box-shadow: 2px 3px 42px 4px black;
    min-height: 100%;
    padding: 20px 60px;
    background: #F0F0F0;
    min-width: 1080px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    margin: 18px 0;
    font-size: 1.6rem;
}

button, select, input {
    font-size: 1.6rem;
}

button {
    border: 4px solid darkgreen;
    border-radius: 10px;
    background: white;
    color: darkgreen;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
